<div class="modal fade" id="bookModal" tabindex="-1" role="dialog" aria-labelledby="bookModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="bookModalLabel">Libro</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <form id="formCreate">
                <div class="form-group">
                  <label for="bookTitle">Titolo</label>
                  <input type="text" class="form-control" id="bookTitle" aria-describedby="bookTitle" value="" max="25" pattern=".{5,25}" title="Il titolo deve essere compreso tra i 5 e i 25 caratteri!" required/>
                  <small class="form-text text-muted">Inserire il titolo del tuo libro qui.</small>
                </div>
                <div class="form-group">
                  <label for="bookPrice">Prezzo</label>
                  <input type="number" class="form-control" id="bookPrice" value="" min="1" required/>
                  <small class="form-text text-muted">Inserire il prezzo del tuo libro qui.</small>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Annulla</button>
                  <button type="submit" class="btn btn-primary" id="createBook">Salva</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>